In [54]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap, Normalize
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.preprocessing import StandardScaler

In [55]:
options_full = pd.read_csv('/Users/landlee/Desktop/Option Metrics to Share/opt_full_list_mm.csv')

/var/folders/b1/g827t6qn66l1htcz2y_jj7640000gn/T/ipykernel_11211/2831764356.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  options_full = pd.read_csv('/Users/landlee/Desktop/Option Metrics to Share/opt_full_list_mm.csv')

In [56]:
options_full['adj_best_bid'] = options_full['best_bid'] / options_full['cfadj']
options_full['adj_best_offer'] = options_full['best_offer'] / options_full['cfadj']
options_full['strike_price'] = options_full['strike_price'] / 1000

In [57]:
stock_data = pd.read_csv("StockData.csv")

In [58]:
stock_data

,permno,date,ret,prc,vol,shrout,cfacpr,cfacshr,ticker,adj_prc,adj_ret,adj_vol,adj_shrout,mktcap
0,14593,2018-01-02,0.017905,172.25999,25555934.0,5087056.0,4.0,4.0,AAPL,43.064997,0.017905,25555934.0,20348224.0,8.762962e+08
1,14593,2018-01-03,-0.000174,172.23000,29517900.0,5087056.0,4.0,4.0,AAPL,43.057500,-0.000174,29517900.0,20348224.0,8.761437e+08
2,14593,2018-01-04,0.004645,173.03000,22434597.0,5087056.0,4.0,4.0,AAPL,43.257500,0.004645,22434597.0,20348224.0,8.802133e+08
3,14593,2018-01-05,0.011385,175.00000,23660018.0,5087056.0,4.0,4.0,AAPL,43.750000,0.011385,23660018.0,20348224.0,8.902348e+08
4,14593,2018-01-08,-0.003714,174.35001,20567766.0,5087056.0,4.0,4.0,AAPL,43.587502,-0.003714,20567766.0,20348224.0,8.869283e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24279,20067,2022-12-23,0.006550,4.61000,19309959.0,927938.0,1.0,1.0,SOFI,4.610000,0.006550,19309959.0,927938.0,4.277794e+06
24280,20067,2022-12-27,-0.047722,4.39000,24002624.0,927938.0,1.0,1.0,SOFI,4.390000,-0.047722,24002624.0,927938.0,4.073648e+06
24281,20067,2022-12-28,-0.004556,4.37000,34871669.0,927938.0,1.0,1.0,SOFI,4.370000,-0.004556,34871669.0,927938.0,4.055089e+06
24282,20067,2022-12-29,0.050343,4.59000,33061823.0,927938.0,1.0,1.0,SOFI,4.590000,0.050343,33061823.0,927938.0,4.259235e+06
24283,20067,2022-12-30,0.004357,4.61000,28066590.0,933896.0,1.0,1.0,SOFI,4.610000,0.004357,28066590.0,933896.0,4.305261e+06

In [59]:
# --- 0. Make working copies so originals are untouched ---
opts = options_full.copy()
stock = stock_data.copy()

# --- 1. Preprocess / types ---
# Dates
opts['date'] = pd.to_datetime(opts['date'])
opts['exdate'] = pd.to_datetime(opts['exdate'])
stock['date'] = pd.to_datetime(stock['date'])

# Uppercase tickers and optionally reduce memory
opts['ticker'] = opts['ticker'].astype(str).str.upper().astype('category')
stock['ticker'] = stock['ticker'].astype(str).str.upper().astype('category')

In [60]:
# --- 2. Realized volatility on underlying (30d annualized) ---
stock['log_ret'] = np.log1p(stock['adj_ret'].fillna(0))
# rolling std of log returns per ticker
stock['realized_vol_30'] = (
    stock.groupby('ticker')['log_ret']
         .transform(lambda x: x.rolling(30, min_periods=10).std())
    * np.sqrt(252)
)
stock.drop(columns=['log_ret'], inplace=True)

/var/folders/b1/g827t6qn66l1htcz2y_jj7640000gn/T/ipykernel_11211/1797868234.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  stock.groupby('ticker')['log_ret']

In [61]:
# --- 3. Filter options to desired DTE window (28–35) ---
opts['DTE'] = (opts['exdate'] - opts['date']).dt.days
opts_subset = opts.loc[(opts['DTE'] >= 28) & (opts['DTE'] <= 35)].copy()

In [62]:
opts[(opts['ticker'] == 'AAPL') & (opts['date'] == '2018-01-02') & (opts['exdate'] == '2018-02-02')]

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,root,suffix,ticker,date_year,date_month,exyear,exmonth,adj_best_bid,adj_best_offer,DTE
1521392,101594.0,2018-01-02,AAPL 180202C144000,1,2018-02-02,NaN,C,144.0,28.25,28.95,...,NaN,NaN,AAPL,2018,1,2018,2,28.25,28.95,31
1521393,101594.0,2018-01-02,AAPL 180202C145000,1,2018-02-02,NaN,C,145.0,27.25,28.00,...,NaN,NaN,AAPL,2018,1,2018,2,27.25,28.00,31
1521394,101594.0,2018-01-02,AAPL 180202C146000,1,2018-02-02,01/02/2018,C,146.0,26.25,27.00,...,NaN,NaN,AAPL,2018,1,2018,2,26.25,27.00,31
1521395,101594.0,2018-01-02,AAPL 180202C147000,1,2018-02-02,NaN,C,147.0,25.35,26.10,...,NaN,NaN,AAPL,2018,1,2018,2,25.35,26.10,31
1521396,101594.0,2018-01-02,AAPL 180202C148000,1,2018-02-02,NaN,C,148.0,24.35,25.10,...,NaN,NaN,AAPL,2018,1,2018,2,24.35,25.10,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521449,101594.0,2018-01-02,AAPL 180202P200000,1,2018-02-02,NaN,P,200.0,27.50,28.30,...,NaN,NaN,AAPL,2018,1,2018,2,27.50,28.30,31
1521450,101594.0,2018-01-02,AAPL 180202P202500,1,2018-02-02,NaN,P,202.5,29.95,30.80,...,NaN,NaN,AAPL,2018,1,2018,2,29.95,30.80,31
1521451,101594.0,2018-01-02,AAPL 180202P205000,1,2018-02-02,NaN,P,205.0,32.45,33.30,...,NaN,NaN,AAPL,2018,1,2018,2,32.45,33.30,31
1521452,101594.0,2018-01-02,AAPL 180202P207500,1,2018-02-02,NaN,P,207.5,34.95,35.75,...,NaN,NaN,AAPL,2018,1,2018,2,34.95,35.75,31
1521453,101594.0,2018-01-02,AAPL 180202P210000,1,2018-02-02,NaN,P,210.0,37.50,38.30,...,NaN,NaN,AAPL,2018,1,2018,2,37.50,38.30,31

In [63]:
# --- 4. Merge underlying info needed for ATM selection ---
# Need adj_prc (spot) and cfacpr to adjust strikes
merged = opts_subset.merge(
    stock[['ticker', 'date', 'adj_prc', 'cfacpr']],
    on=['ticker', 'date'],
    how='inner',
    validate='many_to_one',
)

In [64]:
# --- 5. Compute adjusted strike and distance to spot ---
# Adjust raw strike_price by split/dividend factor to align with adjusted price
merged['adj_strike'] = merged['strike_price'] / merged['cfacpr']
merged['strike_diff'] = (merged['adj_strike'] - merged['adj_prc']).abs()

In [65]:
# --- 6. Canonicalize strike to avoid float mismatch and split legs ---
merged['adj_strike_rounded'] = merged['adj_strike'].round(4)  # adjust precision as needed

calls = merged[merged['cp_flag'].str.upper().isin(['C', 'CALL'])].copy()
puts  = merged[merged['cp_flag'].str.upper().isin(['P', 'PUT'])].copy()

In [66]:
# --- 7. Form all contemporaneous straddle observations ---
straddle_obs = calls.merge(
    puts,
    on=['ticker', 'date', 'exdate', 'adj_strike_rounded'],
    suffixes=('_call', '_put'),
    how='inner'
)

In [67]:
# --- 8. Compute premiums / basic derived fields ---
straddle_obs['call_premium'] = (straddle_obs['adj_best_bid_call'] + straddle_obs['adj_best_offer_call']) / 2
straddle_obs['put_premium']  = (straddle_obs['adj_best_bid_put']  + straddle_obs['adj_best_offer_put'])  / 2
straddle_obs['straddle_premium'] = straddle_obs['call_premium'] + straddle_obs['put_premium']
straddle_obs['net_delta'] = straddle_obs.get('delta_call', 0) + straddle_obs.get('delta_put', 0)
straddle_obs['total_open_interest'] = straddle_obs['open_interest_call'] + straddle_obs['open_interest_put']

In [68]:
# --- 9. ATMness: distance to spot ---
# underlying spot price should be identical for call/put side; extract one
if 'adj_prc_call' in straddle_obs.columns:
    spot = straddle_obs['adj_prc_call']
elif 'adj_prc_put' in straddle_obs.columns:
    spot = straddle_obs['adj_prc_put']
else:
    spot = straddle_obs['adj_prc']  # fallback if not suffixed

straddle_obs['strike_diff'] = (straddle_obs['adj_strike_rounded'] - spot).abs()

In [69]:
# --- 10. Select one ATM straddle per group with tie-breaker on open interest ---
# minimal strike_diff
straddle_obs['min_diff'] = straddle_obs.groupby(['ticker', 'date', 'exdate'])['strike_diff'].transform('min')
atm_candidates = straddle_obs.loc[straddle_obs['strike_diff'] == straddle_obs['min_diff']].copy()

# tie-break by total open interest
atm_candidates['oi_rank'] = atm_candidates.groupby(['ticker', 'date', 'exdate'])['total_open_interest'] \
                                         .rank(method='first', ascending=False)
atm_final = atm_candidates.loc[atm_candidates['oi_rank'] == 1].copy()

# clean up helper cols
atm_final.drop(columns=['min_diff', 'oi_rank'], inplace=True)

In [70]:
# --- 11. Optional liquidity filter ---
liq_mask = (
    (atm_final['open_interest_call'] >= 100) &
    (atm_final['open_interest_put'] >= 100) &
    (atm_final['volume_call'] >= 10) &
    (atm_final['volume_put'] >= 10)
)
atm_final_liq = atm_final.loc[liq_mask].copy()

In [71]:
# --- 12. Aggregate IV and tidy output ---
atm_final_liq['straddle_iv'] = (atm_final_liq['impl_volatility_call'] + atm_final_liq['impl_volatility_put']) / 2

# rename strike column for clarity
atm_final_liq = atm_final_liq.rename(columns={'adj_strike_rounded': 'strike', 'DTE_call': 'DTE'})


# keep the core columns for modeling / labeling
selected_straddles = atm_final_liq[[
    'ticker', 'date', 'exdate', 'DTE', 'strike',
    'call_premium', 'put_premium', 'straddle_premium',
    'straddle_iv', 'net_delta',
    'open_interest_call', 'open_interest_put',
    'volume_call', 'volume_put',
    'strike_diff', 'impl_volatility_call', 'impl_volatility_put', 
    'adj_best_bid_call', 'adj_best_offer_call', 
    'adj_best_bid_put', 'adj_best_offer_put'
]].copy()

In [72]:
selected_straddles[selected_straddles['ticker'] == 'AAPL']

,ticker,date,exdate,DTE,strike,call_premium,put_premium,straddle_premium,straddle_iv,net_delta,...,open_interest_put,volume_call,volume_put,strike_diff,impl_volatility_call,impl_volatility_put,adj_best_bid_call,adj_best_offer_call,adj_best_bid_put,adj_best_offer_put
61268,AAPL,2018-01-02,2018-02-02,31,43.125,4.875,4.950,9.825,0.245063,0.023940,...,370.0,841.0,70.0,0.060003,0.244650,0.245475,4.80,4.95,4.85,5.05
61299,AAPL,2018-01-03,2018-02-02,30,43.125,4.875,5.025,9.900,0.251193,0.017545,...,395.0,1038.0,242.0,0.067500,0.251627,0.250760,4.80,4.95,4.95,5.10
61330,AAPL,2018-01-04,2018-02-02,29,43.125,5.175,4.300,9.475,0.243264,0.075928,...,426.0,566.0,45.0,0.132500,0.246877,0.239650,5.10,5.25,4.25,4.35
61362,AAPL,2018-01-05,2018-02-02,28,43.750,4.900,4.600,9.500,0.245476,0.039665,...,417.0,2105.0,316.0,0.000000,0.248068,0.242885,4.85,4.95,4.55,4.65
61423,AAPL,2018-01-08,2018-02-09,32,43.750,4.775,5.425,10.200,0.239872,-0.016354,...,105.0,530.0,94.0,0.162498,0.242030,0.237714,4.70,4.85,5.35,5.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102533,AAPL,2022-12-23,2023-01-27,35,132.000,6.000,5.600,11.600,0.355586,0.059876,...,278.0,77.0,139.0,0.140000,0.357814,0.353358,5.80,6.20,5.40,5.80
1102597,AAPL,2022-12-27,2023-01-27,31,130.000,6.025,5.450,11.475,0.379205,0.067349,...,2301.0,420.0,1071.0,0.030000,0.383305,0.375106,5.90,6.15,5.40,5.50
1102738,AAPL,2022-12-29,2023-01-27,29,130.000,5.500,5.350,10.850,0.371430,0.040168,...,2336.0,705.0,592.0,0.390000,0.376446,0.366415,5.40,5.60,5.30,5.40
1102813,AAPL,2022-12-30,2023-01-27,28,130.000,5.450,5.225,10.675,0.371711,0.053841,...,2326.0,486.0,363.0,0.070010,0.371279,0.372143,5.40,5.50,5.15,5.30
1102888,AAPL,2022-12-30,2023-02-03,35,130.000,6.475,6.175,12.650,0.394255,0.061899,...,1093.0,319.0,89.0,0.070010,0.394515,0.393995,6.25,6.70,5.90,6.45

In [73]:
def trailing_percentile_series(s: pd.Series, window: int) -> pd.Series:
    arr = s.to_numpy()
    out = np.full(len(arr), np.nan, dtype=float)
    for i in range(len(arr)):
        if pd.isna(arr[i]):
            continue
        start = max(0, i - window)
        past = arr[start:i]
        past = past[~np.isnan(past)]  # drop NaNs
        if len(past) == 0:
            out[i] = np.nan
        else:
            out[i] = (past < arr[i]).sum() / len(past)
    return pd.Series(out, index=s.index)

In [74]:
# --- 0. Prepare underlying features on stock_data ---
stock = stock_data.copy()
stock['date'] = pd.to_datetime(stock['date'])
stock['ticker'] = stock['ticker'].astype(str).str.upper()

# log returns
stock['log_ret'] = np.log1p(stock['adj_ret'].fillna(0))

# sort for rolling
stock = stock.sort_values(['ticker', 'date'])

# realized vol (annualized) using transform so index stays aligned
stock['realized_vol_30'] = (
    stock.groupby('ticker')['log_ret']
         .transform(lambda x: x.rolling(30, min_periods=10).std())
    * np.sqrt(252)
)
stock['realized_vol_10'] = (
    stock.groupby('ticker')['log_ret']
         .transform(lambda x: x.rolling(10, min_periods=5).std())
    * np.sqrt(252)
)

# momentum features
stock['mom_5'] = stock.groupby('ticker')['log_ret'].transform(lambda x: x.rolling(5, min_periods=1).sum())
stock['mom_10'] = stock.groupby('ticker')['log_ret'].transform(lambda x: x.rolling(10, min_periods=1).sum())

# realized vol rank over trailing 60 days (excluding current)
stock['realized_vol_30_rank'] = stock.groupby('ticker')['realized_vol_30'] \
                                     .transform(lambda s: trailing_percentile_series(s, 60))

In [75]:
stock

,permno,date,ret,prc,vol,shrout,cfacpr,cfacshr,ticker,adj_prc,adj_ret,adj_vol,adj_shrout,mktcap,log_ret,realized_vol_30,realized_vol_10,mom_5,mom_10,realized_vol_30_rank
0,14593,2018-01-02,0.017905,172.25999,25555934.0,5087056.0,4.0,4.0,AAPL,43.064997,0.017905,25555934.0,20348224.0,8.762962e+08,0.017747,NaN,NaN,0.017747,0.017747,NaN
1,14593,2018-01-03,-0.000174,172.23000,29517900.0,5087056.0,4.0,4.0,AAPL,43.057500,-0.000174,29517900.0,20348224.0,8.761437e+08,-0.000174,NaN,NaN,0.017573,0.017573,NaN
2,14593,2018-01-04,0.004645,173.03000,22434597.0,5087056.0,4.0,4.0,AAPL,43.257500,0.004645,22434597.0,20348224.0,8.802133e+08,0.004634,NaN,NaN,0.022207,0.022207,NaN
3,14593,2018-01-05,0.011385,175.00000,23660018.0,5087056.0,4.0,4.0,AAPL,43.750000,0.011385,23660018.0,20348224.0,8.902348e+08,0.011321,NaN,NaN,0.033528,0.033528,NaN
4,14593,2018-01-08,-0.003714,174.35001,20567766.0,5087056.0,4.0,4.0,AAPL,43.587502,-0.003714,20567766.0,20348224.0,8.869283e+08,-0.003721,NaN,0.137652,0.029807,0.029807,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15085,93436,2023-12-22,-0.007701,252.53999,93148541.0,3178921.0,1.0,1.0,TSLA,252.539990,-0.007701,93148541.0,3178921.0,8.028047e+08,-0.007731,0.383299,0.400951,-0.003794,0.035058,0.0
15086,93436,2023-12-26,0.016116,256.60999,86700724.0,3178921.0,1.0,1.0,TSLA,256.609990,0.016116,86700724.0,3178921.0,8.157429e+08,0.015988,0.381532,0.387764,0.017811,0.068002,0.0
15087,93436,2023-12-27,0.018822,261.44000,106250779.0,3178921.0,1.0,1.0,TSLA,261.440000,0.018822,106250779.0,3178921.0,8.310971e+08,0.018647,0.368693,0.377393,0.016273,0.098102,0.0
15088,93436,2023-12-28,-0.031594,253.17999,113250680.0,3178921.0,1.0,1.0,TSLA,253.179990,-0.031594,113250680.0,3178921.0,8.048392e+08,-0.032104,0.346452,0.432146,0.024146,0.056424,0.0
15089,93436,2023-12-29,-0.018564,248.48000,100321201.0,3185000.0,1.0,1.0,TSLA,248.480000,-0.018564,100321201.0,3185000.0,7.914088e+08,-0.018738,0.345950,0.375171,-0.023939,-0.010290,0.0

In [76]:
selected_straddles

,ticker,date,exdate,DTE,strike,call_premium,put_premium,straddle_premium,straddle_iv,net_delta,...,open_interest_put,volume_call,volume_put,strike_diff,impl_volatility_call,impl_volatility_put,adj_best_bid_call,adj_best_offer_call,adj_best_bid_put,adj_best_offer_put
2,AMD,2018-01-02,2018-02-02,31,11.0,0.750,0.730,1.480,0.579868,0.064396,...,388.0,867.0,46.0,0.02,0.590092,0.569645,0.73,0.77,0.71,0.75
50,AMD,2018-01-04,2018-02-02,29,12.0,0.895,0.790,1.685,0.622124,0.107429,...,266.0,503.0,127.0,0.12,0.624345,0.619902,0.86,0.93,0.76,0.82
74,AMD,2018-01-05,2018-02-02,28,12.0,0.780,0.885,1.665,0.631055,0.028745,...,313.0,790.0,131.0,0.12,0.631549,0.630562,0.77,0.79,0.87,0.90
98,AMD,2018-01-05,2018-02-09,35,12.0,0.815,0.920,1.735,0.588431,0.033836,...,175.0,84.0,121.0,0.12,0.588382,0.588480,0.79,0.84,0.89,0.95
146,AMD,2018-01-09,2018-02-09,31,12.0,0.755,0.920,1.675,0.603827,0.007003,...,226.0,286.0,46.0,0.18,0.603818,0.603837,0.75,0.76,0.90,0.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598812,RIVN,2022-11-21,2022-12-23,32,28.0,2.800,2.295,5.095,0.764288,0.151125,...,224.0,15.0,17.0,0.42,0.765254,0.763323,2.75,2.85,2.24,2.35
1599103,RIVN,2022-12-02,2022-12-30,28,31.0,2.455,2.030,4.485,0.650289,0.131949,...,160.0,26.0,210.0,0.36,0.649317,0.651261,2.39,2.52,2.00,2.06
1599466,RIVN,2022-12-16,2023-01-20,35,22.5,2.220,2.120,4.340,0.783498,0.103968,...,3679.0,1373.0,1705.0,0.02,0.791373,0.775623,2.15,2.29,2.10,2.14
1599829,RIVN,2022-12-23,2023-01-20,28,19.0,1.840,1.665,3.505,0.833809,0.123657,...,1220.0,237.0,463.0,0.14,0.832646,0.834973,1.82,1.86,1.65,1.68
1599989,RIVN,2022-12-29,2023-01-27,29,19.0,1.685,1.915,3.600,0.850482,0.054558,...,600.0,21.0,10.0,0.27,0.850151,0.850813,1.65,1.72,1.88,1.95

In [77]:
# --- 1. Target construction: compute exit date and r_long/r_short ---
entries = selected_straddles.copy()
entries['date'] = pd.to_datetime(entries['date']).dt.normalize()
entries['ticker'] = entries['ticker'].astype(str).str.upper()

# Build trading calendar (normalized) and map entry dates to positions
all_dates = pd.Index(pd.to_datetime(options_full['date']).dt.normalize().sort_values().unique())
entries['date_pos'] = all_dates.get_indexer(entries['date'])  # gives -1 if not found
# entries = entries.loc[entries['date_pos'] >= 0].copy()        # drop unmatched dates

In [78]:
entries

,ticker,date,exdate,DTE,strike,call_premium,put_premium,straddle_premium,straddle_iv,net_delta,...,volume_call,volume_put,strike_diff,impl_volatility_call,impl_volatility_put,adj_best_bid_call,adj_best_offer_call,adj_best_bid_put,adj_best_offer_put,date_pos
2,AMD,2018-01-02,2018-02-02,31,11.0,0.750,0.730,1.480,0.579868,0.064396,...,867.0,46.0,0.02,0.590092,0.569645,0.73,0.77,0.71,0.75,0
50,AMD,2018-01-04,2018-02-02,29,12.0,0.895,0.790,1.685,0.622124,0.107429,...,503.0,127.0,0.12,0.624345,0.619902,0.86,0.93,0.76,0.82,2
74,AMD,2018-01-05,2018-02-02,28,12.0,0.780,0.885,1.665,0.631055,0.028745,...,790.0,131.0,0.12,0.631549,0.630562,0.77,0.79,0.87,0.90,3
98,AMD,2018-01-05,2018-02-09,35,12.0,0.815,0.920,1.735,0.588431,0.033836,...,84.0,121.0,0.12,0.588382,0.588480,0.79,0.84,0.89,0.95,3
146,AMD,2018-01-09,2018-02-09,31,12.0,0.755,0.920,1.675,0.603827,0.007003,...,286.0,46.0,0.18,0.603818,0.603837,0.75,0.76,0.90,0.94,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598812,RIVN,2022-11-21,2022-12-23,32,28.0,2.800,2.295,5.095,0.764288,0.151125,...,15.0,17.0,0.42,0.765254,0.763323,2.75,2.85,2.24,2.35,1231
1599103,RIVN,2022-12-02,2022-12-30,28,31.0,2.455,2.030,4.485,0.650289,0.131949,...,26.0,210.0,0.36,0.649317,0.651261,2.39,2.52,2.00,2.06,1239
1599466,RIVN,2022-12-16,2023-01-20,35,22.5,2.220,2.120,4.340,0.783498,0.103968,...,1373.0,1705.0,0.02,0.791373,0.775623,2.15,2.29,2.10,2.14,1249
1599829,RIVN,2022-12-23,2023-01-20,28,19.0,1.840,1.665,3.505,0.833809,0.123657,...,237.0,463.0,0.14,0.832646,0.834973,1.82,1.86,1.65,1.68,1254
1599989,RIVN,2022-12-29,2023-01-27,29,19.0,1.685,1.915,3.600,0.850482,0.054558,...,21.0,10.0,0.27,0.850151,0.850813,1.65,1.72,1.88,1.95,1257

In [79]:

# Horizon H = min(7, DTE - 5); require H >= 1
entries['H'] = np.minimum(7, np.maximum(0, entries['DTE'].astype(int) - 5)).astype(int)
entries = entries.loc[entries['H'] >= 1].copy()

# Compute exit position and enforce bounds
entries['exit_pos'] = entries['date_pos'] + entries['H']
valid_mask = entries['exit_pos'] < len(all_dates)
entries = entries.loc[valid_mask].copy()

# Lookup exit_date from the trading calendar
entries['exit_date'] = all_dates[entries['exit_pos']].to_numpy()

In [80]:
entries

,ticker,date,exdate,DTE,strike,call_premium,put_premium,straddle_premium,straddle_iv,net_delta,...,impl_volatility_call,impl_volatility_put,adj_best_bid_call,adj_best_offer_call,adj_best_bid_put,adj_best_offer_put,date_pos,H,exit_pos,exit_date
2,AMD,2018-01-02,2018-02-02,31,11.0,0.750,0.730,1.480,0.579868,0.064396,...,0.590092,0.569645,0.73,0.77,0.71,0.75,0,7,7,2018-01-11
50,AMD,2018-01-04,2018-02-02,29,12.0,0.895,0.790,1.685,0.622124,0.107429,...,0.624345,0.619902,0.86,0.93,0.76,0.82,2,7,9,2018-01-16
74,AMD,2018-01-05,2018-02-02,28,12.0,0.780,0.885,1.665,0.631055,0.028745,...,0.631549,0.630562,0.77,0.79,0.87,0.90,3,7,10,2018-01-17
98,AMD,2018-01-05,2018-02-09,35,12.0,0.815,0.920,1.735,0.588431,0.033836,...,0.588382,0.588480,0.79,0.84,0.89,0.95,3,7,10,2018-01-17
146,AMD,2018-01-09,2018-02-09,31,12.0,0.755,0.920,1.675,0.603827,0.007003,...,0.603818,0.603837,0.75,0.76,0.90,0.94,5,7,12,2018-01-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598732,RIVN,2022-11-17,2022-12-16,29,32.5,2.480,2.880,5.360,0.739363,0.036769,...,0.737426,0.741300,2.46,2.50,2.86,2.90,1229,7,1236,2022-11-29
1598754,RIVN,2022-11-18,2022-12-16,28,30.0,2.640,2.275,4.915,0.738708,0.126763,...,0.740020,0.737395,2.62,2.66,2.25,2.30,1230,7,1237,2022-11-30
1598812,RIVN,2022-11-21,2022-12-23,32,28.0,2.800,2.295,5.095,0.764288,0.151125,...,0.765254,0.763323,2.75,2.85,2.24,2.35,1231,7,1238,2022-12-01
1599103,RIVN,2022-12-02,2022-12-30,28,31.0,2.455,2.030,4.485,0.650289,0.131949,...,0.649317,0.651261,2.39,2.52,2.00,2.06,1239,7,1246,2022-12-13
1599466,RIVN,2022-12-16,2023-01-20,35,22.5,2.220,2.120,4.340,0.783498,0.103968,...,0.791373,0.775623,2.15,2.29,2.10,2.14,1249,7,1256,2022-12-28

In [81]:
# --- 2. Build exit straddle mid-premiums for lookup ---
# Reconstruct contemporaneous straddle quotes (call+put) across all dates/contracts
opts2 = options_full.copy()
opts2['date'] = pd.to_datetime(opts2['date'])
opts2['exdate'] = pd.to_datetime(opts2['exdate'])
opts2['ticker'] = opts2['ticker'].astype(str).str.upper()

# Need underlying cfacpr to adjust strike if using raw strike_price (assuming stock has cfacpr)
stock_small = stock[['ticker', 'date', 'cfacpr']].drop_duplicates()
opts2 = opts2.merge(stock_small, on=['ticker', 'date'], how='left', validate='many_to_one')
opts2['adj_strike'] = (opts2['strike_price'] / opts2['cfacpr']).round(4)

# mid premium for each leg
opts2['mid_premium'] = (opts2['adj_best_bid'] + opts2['adj_best_offer']) / 2

calls_all = opts2[opts2['cp_flag'].str.upper().isin(['C', 'CALL'])].copy()
puts_all  = opts2[opts2['cp_flag'].str.upper().isin(['P', 'PUT'])].copy()

# join to get straddle quote (must be same ticker/date/exdate/strike)
straddle_quotes = calls_all.merge(
    puts_all,
    on=['ticker', 'date', 'exdate', 'adj_strike'],
    suffixes=('_call', '_put'),
    how='inner'
)

# compute exit value (mid)
straddle_quotes['call_mid'] = (straddle_quotes['adj_best_bid_call'] + straddle_quotes['adj_best_offer_call']) / 2
straddle_quotes['put_mid']  = (straddle_quotes['adj_best_bid_put']  + straddle_quotes['adj_best_offer_put'])  / 2
straddle_quotes['straddle_mid'] = straddle_quotes['call_mid'] + straddle_quotes['put_mid']

# Prepare lookup table for exit
exit_lookup = straddle_quotes[[
    'ticker', 'date', 'exdate', 'adj_strike', 'straddle_mid'
]].rename(columns={'date': 'exit_date', 'adj_strike': 'strike'})

In [82]:
exit_lookup

         ticker  exit_date     exdate  strike  straddle_mid
0           AMD 2018-01-02 2018-01-05    10.0         1.025
1           AMD 2018-01-02 2018-01-05    10.5         0.565
2           AMD 2018-01-02 2018-01-05    11.0         0.350
3           AMD 2018-01-02 2018-01-05    11.5         0.575
4           AMD 2018-01-02 2018-01-05    12.0         1.020
...         ...        ...        ...     ...           ...
21062128   RIVN 2022-12-30 2025-01-17    65.0        48.920
21062129   RIVN 2022-12-30 2025-01-17    70.0        53.660
21062130   RIVN 2022-12-30 2025-01-17     7.5        15.100
21062131   RIVN 2022-12-30 2025-01-17    75.0        58.265
21062132   RIVN 2022-12-30 2025-01-17    80.0        63.085

[21062133 rows x 5 columns]

In [83]:
# --- 3. Merge exit value into entries to get target ---
entries = entries.merge(
    exit_lookup,
    left_on=['ticker', 'exit_date', 'exdate', 'strike'],
    right_on=['ticker', 'exit_date', 'exdate', 'strike'],
    how='left'
)

# drop if exit quote missing
entries = entries.dropna(subset=['straddle_mid']).copy()

# compute target
entries['entry_value'] = entries['straddle_premium']
entries['exit_value'] = entries['straddle_mid']
entries['r_long'] = (entries['exit_value'] - entries['entry_value']) / entries['entry_value']
entries['r_short'] = -entries['r_long']

In [84]:
entries

,ticker,date,exdate,DTE,strike,call_premium,put_premium,straddle_premium,straddle_iv,net_delta,...,adj_best_offer_put,date_pos,H,exit_pos,exit_date,straddle_mid,entry_value,exit_value,r_long,r_short
0,AMD,2018-01-02,2018-02-02,31,11.0,0.750,0.730,1.480,0.579868,0.064396,...,0.75,0,7,7,2018-01-11,1.670,1.480,1.670,0.128378,-0.128378
1,AMD,2018-01-04,2018-02-02,29,12.0,0.895,0.790,1.685,0.622124,0.107429,...,0.82,2,7,9,2018-01-16,1.350,1.685,1.350,-0.198813,0.198813
2,AMD,2018-01-05,2018-02-02,28,12.0,0.780,0.885,1.665,0.631055,0.028745,...,0.90,3,7,10,2018-01-17,1.380,1.665,1.380,-0.171171,0.171171
3,AMD,2018-01-05,2018-02-09,35,12.0,0.815,0.920,1.735,0.588431,0.033836,...,0.95,3,7,10,2018-01-17,1.510,1.735,1.510,-0.129683,0.129683
4,AMD,2018-01-09,2018-02-09,31,12.0,0.755,0.920,1.675,0.603827,0.007003,...,0.94,5,7,12,2018-01-19,1.605,1.675,1.605,-0.041791,0.041791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10152,RIVN,2022-11-17,2022-12-16,29,32.5,2.480,2.880,5.360,0.739363,0.036769,...,2.90,1229,7,1236,2022-11-29,4.705,5.360,4.705,-0.122201,0.122201
10153,RIVN,2022-11-18,2022-12-16,28,30.0,2.640,2.275,4.915,0.738708,0.126763,...,2.30,1230,7,1237,2022-11-30,4.040,4.915,4.040,-0.178026,0.178026
10154,RIVN,2022-11-21,2022-12-23,32,28.0,2.800,2.295,5.095,0.764288,0.151125,...,2.35,1231,7,1238,2022-12-01,5.200,5.095,5.200,0.020608,-0.020608
10155,RIVN,2022-12-02,2022-12-30,28,31.0,2.455,2.030,4.485,0.650289,0.131949,...,2.06,1239,7,1246,2022-12-13,6.290,4.485,6.290,0.402453,-0.402453
10156,RIVN,2022-12-16,2023-01-20,35,22.5,2.220,2.120,4.340,0.783498,0.103968,...,2.14,1249,7,1256,2022-12-28,5.390,4.340,5.390,0.241935,-0.241935

In [85]:
# --- 4. Feature engineering ---

# a) Volatility features
entries['iv_realized_vol_ratio'] = entries['straddle_iv'] / entries.merge(
    stock[['ticker', 'date', 'realized_vol_30']],
    on=['ticker', 'date'],
    how='left'
)['realized_vol_30']

In [86]:
# b) IV percentile rank (trailing 60 days) per ticker for straddle_iv
# iv_rank is a relative measure of how high or low the current implied 
# volatility is compared to its own recent history. 
# In the pipeline it’s the trailing 60-day percentile of the 
# straddle’s implied volatility, excluding the current day.

# ensure sorted so percentiles are trailing
entries = entries.sort_values(['ticker', 'date'])

# correct alignment: use transform, not apply
entries['iv_rank'] = entries.groupby('ticker')['straddle_iv'] \
                           .transform(lambda s: trailing_percentile_series(s, 60))

In [87]:
entries

,ticker,date,exdate,DTE,strike,call_premium,put_premium,straddle_premium,straddle_iv,net_delta,...,H,exit_pos,exit_date,straddle_mid,entry_value,exit_value,r_long,r_short,iv_realized_vol_ratio,iv_rank
299,AAPL,2018-01-02,2018-02-02,31,43.125,4.875000,4.950000,9.825000,0.245063,0.023940,...,7,7,2018-01-11,8.900000,9.825000,8.900000,-0.094148,0.094148,NaN,NaN
300,AAPL,2018-01-03,2018-02-02,30,43.125,4.875000,5.025000,9.900000,0.251193,0.017545,...,7,8,2018-01-12,9.600000,9.900000,9.600000,-0.030303,0.030303,NaN,1.000000
301,AAPL,2018-01-04,2018-02-02,29,43.125,5.175000,4.300000,9.475000,0.243264,0.075928,...,7,9,2018-01-16,9.660000,9.475000,9.660000,0.019525,-0.019525,NaN,0.000000
302,AAPL,2018-01-05,2018-02-02,28,43.750,4.900000,4.600000,9.500000,0.245476,0.039665,...,7,10,2018-01-17,10.115000,9.500000,10.115000,0.064737,-0.064737,NaN,0.666667
303,AAPL,2018-01-08,2018-02-09,32,43.750,4.775000,5.425000,10.200000,0.239872,-0.016354,...,7,11,2018-01-18,10.850000,10.200000,10.850000,0.063725,-0.063725,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6415,TSLA,2022-12-15,2023-01-13,29,160.000,10.775000,12.525000,23.300000,0.651948,0.021517,...,7,1255,2022-12-27,51.790000,23.300000,51.790000,1.222747,-1.222747,0.985999,0.833333
6416,TSLA,2022-12-16,2023-01-13,28,150.000,11.675000,10.650000,22.325000,0.673887,0.092289,...,7,1256,2022-12-28,39.130000,22.325000,39.130000,0.752744,-0.752744,1.981167,0.866667
6417,TSLA,2022-12-16,2023-01-20,35,150.000,4.266667,3.908333,8.175000,0.662416,0.100640,...,7,1256,2022-12-28,13.308333,8.175000,13.308333,0.627931,-0.627931,1.957808,0.850000
6418,TSLA,2022-12-19,2023-01-20,32,150.000,4.100000,3.900000,8.000000,0.678836,0.088790,...,7,1257,2022-12-29,10.858333,8.000000,10.858333,0.357292,-0.357292,2.315691,0.866667
6419,TSLA,2022-12-20,2023-01-20,31,136.670,4.275000,3.641667,7.916667,0.745021,0.127413,...,7,1258,2022-12-30,7.658333,7.916667,7.658333,-0.032632,0.032632,2.541462,1.000000

In [88]:
# c) Realized vol and its rank from underlying (merge once)
entries = entries.merge(
    stock[['ticker', 'date', 'realized_vol_30', 'realized_vol_10', 'realized_vol_30_rank', 'mom_5', 'mom_10']],
    on=['ticker', 'date'],
    how='left'
)

entries['vol_change'] = entries['realized_vol_30'] - entries['realized_vol_10']

In [89]:
entries.columns

Index(['ticker', 'date', 'exdate', 'DTE', 'strike', 'call_premium',
       'put_premium', 'straddle_premium', 'straddle_iv', 'net_delta',
       'open_interest_call', 'open_interest_put', 'volume_call', 'volume_put',
       'strike_diff', 'impl_volatility_call', 'impl_volatility_put',
       'adj_best_bid_call', 'adj_best_offer_call', 'adj_best_bid_put',
       'adj_best_offer_put', 'date_pos', 'H', 'exit_pos', 'exit_date',
       'straddle_mid', 'entry_value', 'exit_value', 'r_long', 'r_short',
       'iv_realized_vol_ratio', 'iv_rank', 'realized_vol_30',
       'realized_vol_10', 'realized_vol_30_rank', 'mom_5', 'mom_10',
       'vol_change'],
      dtype='object')

In [90]:
# d) Skew & premium
entries['iv_skew'] = entries['impl_volatility_call'] - entries['impl_volatility_put']
entries['log_straddle_premium'] = np.log(entries['straddle_premium'].replace(0, np.nan))

In [91]:
entries.columns

Index(['ticker', 'date', 'exdate', 'DTE', 'strike', 'call_premium',
       'put_premium', 'straddle_premium', 'straddle_iv', 'net_delta',
       'open_interest_call', 'open_interest_put', 'volume_call', 'volume_put',
       'strike_diff', 'impl_volatility_call', 'impl_volatility_put',
       'adj_best_bid_call', 'adj_best_offer_call', 'adj_best_bid_put',
       'adj_best_offer_put', 'date_pos', 'H', 'exit_pos', 'exit_date',
       'straddle_mid', 'entry_value', 'exit_value', 'r_long', 'r_short',
       'iv_realized_vol_ratio', 'iv_rank', 'realized_vol_30',
       'realized_vol_10', 'realized_vol_30_rank', 'mom_5', 'mom_10',
       'vol_change', 'iv_skew', 'log_straddle_premium'],
      dtype='object')

In [92]:
# e) Liquidity / microstructure
# normalized bid-ask spreads for each leg
entries['spread_call'] = (entries['adj_best_offer_call'] - entries['adj_best_bid_call']) / (
    (entries['adj_best_offer_call'] + entries['adj_best_bid_call']) / 2
)
entries['spread_put'] = (entries['adj_best_offer_put'] - entries['adj_best_bid_put']) / (
    (entries['adj_best_offer_put'] + entries['adj_best_bid_put']) / 2
)

# total volume / open interest
entries['total_volume'] = entries['volume_call'] + entries['volume_put']
entries['total_oi'] = entries['open_interest_call'] + entries['open_interest_put']

In [93]:
# --- Prepare full history of open interest for the relevant strikes ---
# Normalize tickers/dates and compute adjusted strike in options_full
opts_full = options_full.copy()
opts_full['date'] = pd.to_datetime(opts_full['date'])
opts_full['exdate'] = pd.to_datetime(opts_full['exdate'])
opts_full['ticker'] = opts_full['ticker'].astype(str).str.upper()

# Merge cfacpr from stock to adjust strike (same logic as before)
stock_small = stock_data[['ticker', 'date', 'cfacpr']].copy()
stock_small['ticker'] = stock_small['ticker'].astype(str).str.upper()
stock_small['date'] = pd.to_datetime(stock_small['date'])

opts_full = opts_full.merge(
    stock_small,
    on=['ticker', 'date'],
    how='left',
    validate='many_to_one'
)

# Compute adjusted strike and round to match entries
opts_full['adj_strike'] = (opts_full['strike_price'] / opts_full['cfacpr']).round(4)

# Separate call and put histories
calls_full = opts_full[opts_full['cp_flag'].str.upper().isin(['C', 'CALL'])].copy()
puts_full  = opts_full[opts_full['cp_flag'].str.upper().isin(['P', 'PUT'])].copy()

# Compute lagged open interest (5 trading days) per contract (ticker, exdate, strike)
calls_full = calls_full.sort_values(['ticker', 'exdate', 'adj_strike', 'date'])
puts_full  = puts_full.sort_values(['ticker', 'exdate', 'adj_strike', 'date'])

calls_full['oi_call_lag5_full'] = calls_full.groupby(['ticker', 'exdate', 'adj_strike'])['open_interest'].shift(5)
puts_full['oi_put_lag5_full']   = puts_full.groupby(['ticker', 'exdate', 'adj_strike'])['open_interest'].shift(5)

# Rename for clarity before merging
calls_full = calls_full.rename(columns={'open_interest': 'open_interest_call_full'})
puts_full  = puts_full.rename(columns={'open_interest': 'open_interest_put_full'})

# --- Merge the full-history open interest (and its 5-day lag) into entries ---
# entries['strike'] should match adj_strike rounding
entries = entries.merge(
    calls_full[[
        'ticker', 'date', 'exdate', 'adj_strike',
        'open_interest_call_full', 'oi_call_lag5_full'
    ]].rename(columns={'adj_strike': 'strike'}),
    on=['ticker', 'date', 'exdate', 'strike'],
    how='left'
)

entries = entries.merge(
    puts_full[[
        'ticker', 'date', 'exdate', 'adj_strike',
        'open_interest_put_full', 'oi_put_lag5_full'
    ]].rename(columns={'adj_strike': 'strike'}),
    on=['ticker', 'date', 'exdate', 'strike'],
    how='left'
)

# --- Compute week-over-week changes using the full-history values ---
entries['oi_change_call'] = (
    (entries['open_interest_call_full'] - entries['oi_call_lag5_full']) /
    entries['oi_call_lag5_full']
)
entries['oi_change_put'] = (
    (entries['open_interest_put_full'] - entries['oi_put_lag5_full']) /
    entries['oi_put_lag5_full']
)

In [94]:
entries.head(40)

,ticker,date,exdate,DTE,strike,call_premium,put_premium,straddle_premium,straddle_iv,net_delta,...,spread_call,spread_put,total_volume,total_oi,open_interest_call_full,oi_call_lag5_full,open_interest_put_full,oi_put_lag5_full,oi_change_call,oi_change_put
0,AAPL,2018-01-02,2018-02-02,31,43.125,4.875,4.950,9.825,0.245063,0.023940,...,0.030769,0.040404,911.0,3017.0,2647.0,NaN,370.0,NaN,NaN,NaN
1,AAPL,2018-01-03,2018-02-02,30,43.125,4.875,5.025,9.900,0.251193,0.017545,...,0.030769,0.029851,1280.0,3049.0,2654.0,NaN,395.0,NaN,NaN,NaN
2,AAPL,2018-01-04,2018-02-02,29,43.125,5.175,4.300,9.475,0.243264,0.075928,...,0.028986,0.023256,611.0,3283.0,2857.0,NaN,426.0,NaN,NaN,NaN
3,AAPL,2018-01-05,2018-02-02,28,43.750,4.900,4.600,9.500,0.245476,0.039665,...,0.020408,0.021739,2421.0,3232.0,2815.0,NaN,417.0,NaN,NaN,NaN
4,AAPL,2018-01-08,2018-02-09,32,43.750,4.775,5.425,10.200,0.239872,-0.016354,...,0.031414,0.027650,624.0,1275.0,1170.0,NaN,105.0,NaN,NaN,NaN
5,AAPL,2018-01-09,2018-02-09,31,43.750,4.650,5.275,9.925,0.236897,-0.020468,...,0.021505,0.009479,1110.0,1670.0,1514.0,87.0,156.0,52.0,16.402299,2.000000
6,AAPL,2018-01-10,2018-02-09,30,43.750,4.500,5.400,9.900,0.240133,-0.028271,...,0.022222,0.018519,871.0,2263.0,2095.0,614.0,168.0,55.0,2.412052,2.054545
7,AAPL,2018-01-11,2018-02-09,29,43.750,4.775,4.675,9.450,0.232196,0.037014,...,0.031414,0.032086,895.0,2899.0,2514.0,803.0,385.0,70.0,2.130760,4.500000
8,AAPL,2018-01-12,2018-02-16,35,43.750,6.050,4.300,10.350,0.232419,0.146494,...,0.016529,0.023256,10042.0,64199.0,52140.0,46530.0,12059.0,9457.0,0.120567,0.275140
9,AAPL,2018-01-16,2018-02-16,31,43.750,5.900,4.700,10.600,0.255856,0.093241,...,0.016949,0.021277,11593.0,65068.0,51974.0,46649.0,13094.0,9842.0,0.114150,0.330421
10,AAPL,2018-01-17,2018-02-16,30,45.000,5.000,6.075,11.075,0.266059,-0.032635,...,0.020000,0.024691,16228.0,86641.0,61217.0,41510.0,25424.0,4985.0,0.474753,4.100100
11,AAPL,2018-01-18,2018-02-16,29,45.000,4.975,5.975,10.950,0.267612,-0.024400,...,0.010050,0.025105,14407.0,87972.0,61495.0,42834.0,26477.0,4981.0,0.435659,4.315599
12,AAPL,2018-01-19,2018-02-16,28,45.000,4.200,6.150,10.350,0.255910,-0.086112,...,0.023810,0.016260,18687.0,87693.0,60867.0,44281.0,26826.0,4994.0,0.374562,4.371646
13,AAPL,2018-01-19,2018-02-23,35,44.375,5.725,5.175,10.900,0.246549,0.071747,...,0.026201,0.048309,646.0,1132.0,949.0,365.0,183.0,56.0,1.600000,2.267857
14,AAPL,2018-01-22,2018-02-23,32,44.375,4.750,5.675,10.425,0.247583,-0.020514,...,0.021053,0.026432,621.0,1570.0,1362.0,425.0,208.0,52.0,2.204706,3.000000
15,AAPL,2018-01-23,2018-02-23,31,44.375,4.925,5.525,10.450,0.252302,-0.016949,...,0.030457,0.027149,756.0,1837.0,1623.0,448.0,214.0,56.0,2.622768,2.821429
16,AAPL,2018-01-24,2018-02-23,30,43.750,4.900,5.900,10.800,0.268883,-0.034483,...,0.020408,0.016949,1245.0,2215.0,1537.0,1307.0,678.0,328.0,0.175976,1.067073
17,AAPL,2018-01-25,2018-02-23,29,42.500,6.025,4.975,11.000,0.285643,0.079158,...,0.024896,0.030151,584.0,2011.0,901.0,786.0,1110.0,623.0,0.146310,0.781701
18,AAPL,2018-01-26,2018-02-23,28,43.125,4.700,6.100,10.800,0.282279,-0.048722,...,0.021277,0.032787,430.0,1504.0,745.0,473.0,759.0,491.0,0.575053,0.545825
19,AAPL,2018-01-26,2018-03-02,35,43.125,5.100,6.450,11.550,0.270732,-0.041084,...,0.039216,0.015504,537.0,1177.0,631.0,241.0,546.0,234.0,1.618257,1.333333
20,AAPL,2018-01-29,2018-03-02,32,41.875,6.675,6.175,12.850,0.324708,0.041831,...,0.022472,0.040486,551.0,3857.0,286.0,171.0,3571.0,2614.0,0.672515,0.366106
21,AAPL,2018-01-30,2018-03-02,31,41.875,5.875,6.625,12.500,0.321350,-0.010519,...,0.025532,0.022642,341.0,4201.0,539.0,182.0,3662.0,2722.0,1.961538,0.345334
22,AAPL,2018-01-31,2018-03-02,30,41.875,5.875,6.400,12.275,0.320835,0.009881,...,0.042553,0.046875,566.0,4357.0,697.0,188.0,3660.0,3435.0,2.707447,0.065502
23,AAPL,2018-02-01,2018-03-02,29,41.875,5.700,5.625,11.325,0.300789,0.025752,...,0.087719,0.062222,685.0,4662.0,982.0,208.0,3680.0,3526.0,3.721154,0.043676
24,AAPL,2018-02-02,2018-03-02,28,40.000,4.625,4.575,9.200,0.260354,0.026553,...,0.054054,0.054645,1411.0,1470.0,668.0,348.0,802.0,476.0,0.919540,0.684874
25,AAPL,2018-02-02,2018-03-09,35,40.000,5.225,5.100,10.325,0.261149,0.038165,...,0.047847,0.058824,567.0,652.0,299.0,0.0,353.0,49.0,inf,6.204082
26,AAPL,2018-02-06,2018-03-09,31,40.625,5.150,5.375,10.525,0.278869,0.016663,...,0.038835,0.027907,532.0,1022.0,569.0,11.0,453.0,206.0,50.727273,1.199029
27,AAPL,2018-02-07,2018-03-09,30,40.000,4.700,5.275,9.975,0.272672,-0.026507,...,0.042553,0.028436,633.0,1646.0,747.0,93.0,899.0,164.0,7.032258,4.481707
28,AAPL,2018-02-08,2018-03-09,29,38.750,6.050,5.250,11.300,0.324561,0.019211,...,0.033058,0.057143,343.0,2316.0,1089.0,12.0,1227.0,225.0,89.750000,4.453333
29,AAPL,2018-02-09,2018-03-09,28,39.375,4.375,5.875,10.250,0.293710,-0.056586,...,0.057143,0.042553,616.0,1303.0,207.0,0.0,1096.0,209.0,inf,4.244019
30,AAPL,2018-02-09,2018-03-16,35,38.750,6.325,5.175,11.500,0.298320,0.101395,...,0.039526,0.028986,138833.0,26891.0,10861.0,419.0,16030.0,3683.0,24.921241,3.352430
31,AAPL,2018-02-12,2018-03-16,32,41.250,3.900,5.825,9.725,0.247390,-0.108581,...,0.025641,0.025751,12526.0,35821.0,24201.0,6835.0,11620.0,9831.0,2.540746,0.181975
32,AAPL,2018-02-13,2018-03-16,31,41.250,4.450,4.750,9.200,0.239922,-0.003135,...,0.022472,0.021053,13985.0,35522.0,24010.0,16239.0,11512.0,10345.0,0.478539,0.112808
33,AAPL,2018-02-14,2018-03-16,30,41.250,5.725,3.125,8.850,0.226267,0.213466,...,0.008734,0.016000,10440.0,42742.0,24839.0,18439.0,17903.0,10419.0,0.347090,0.718303
34,AAPL,2018-02-15,2018-03-16,29,43.750,3.375,5.300,8.675,0.218271,-0.118944,...,0.014815,0.018868,21387.0,24464.0,20714.0,17032.0,3750.0,2806.0,0.216181,0.336422
35,AAPL,2018-02-16,2018-03-16,28,42.500,5.750,2.955,8.705,0.223106,0.219607,...,0.017391,0.010152,26685.0,55533.0,30310.0,26981.0,25223.0,9427.0,0.123383,1.675613
36,AAPL,2018-02-16,2018-03-23,35,43.125,4.775,4.425,9.200,0.215680,0.038319,...,0.031414,0.011299,365.0,1330.0,948.0,708.0,382.0,209.0,0.338983,0.827751
37,AAPL,2018-02-20,2018-03-23,31,43.125,4.225,4.575,8.800,0.219451,-0.006504,...,0.035503,0.032787,517.0,1358.0,952.0,713.0,406.0,210.0,0.335203,0.933333
38,AAPL,2018-02-21,2018-03-23,30,42.500,5.000,3.550,8.550,0.217445,0.120140,...,0.020000,0.028169,345.0,2023.0,1567.0,1262.0,456.0,170.0,0.241680,1.682353
39,AAPL,2018-02-22,2018-03-23,29,43.125,4.250,3.850,8.100,0.208545,0.039060,...,0.023529,0.025974,651.0,1588.0,1001.0,844.0,587.0,330.0,0.186019,0.778788

In [95]:
# # week-over-week change in open interest per contract (lag 5 trading days)
# entries = entries.sort_values(['ticker', 'exdate', 'strike', 'date'])
# entries['oi_call_lag5'] = entries.groupby(['ticker', 'exdate', 'strike'])['open_interest_call'].shift(5)
# entries['oi_put_lag5']  = entries.groupby(['ticker', 'exdate', 'strike'])['open_interest_put'].shift(5)
# entries['oi_change_call'] = (entries['open_interest_call'] - entries['oi_call_lag5']) / entries['oi_call_lag5']
# entries['oi_change_put']  = (entries['open_interest_put']  - entries['oi_put_lag5'])  / entries['oi_put_lag5']

In [96]:
# f) Temporal
# normalize DTE by its 95th percentile (global)
max_dte = entries['DTE'].quantile(0.95)
entries['DTE_norm'] = entries['DTE'] / max_dte
entries['day_of_week'] = entries['date'].dt.dayofweek  # 0=Monday

In [97]:
entries.head(30)

,ticker,date,exdate,DTE,strike,call_premium,put_premium,straddle_premium,straddle_iv,net_delta,...,total_volume,total_oi,open_interest_call_full,oi_call_lag5_full,open_interest_put_full,oi_put_lag5_full,oi_change_call,oi_change_put,DTE_norm,day_of_week
0,AAPL,2018-01-02,2018-02-02,31,43.125,4.875,4.950,9.825,0.245063,0.023940,...,911.0,3017.0,2647.0,NaN,370.0,NaN,NaN,NaN,0.885714,1
1,AAPL,2018-01-03,2018-02-02,30,43.125,4.875,5.025,9.900,0.251193,0.017545,...,1280.0,3049.0,2654.0,NaN,395.0,NaN,NaN,NaN,0.857143,2
2,AAPL,2018-01-04,2018-02-02,29,43.125,5.175,4.300,9.475,0.243264,0.075928,...,611.0,3283.0,2857.0,NaN,426.0,NaN,NaN,NaN,0.828571,3
3,AAPL,2018-01-05,2018-02-02,28,43.750,4.900,4.600,9.500,0.245476,0.039665,...,2421.0,3232.0,2815.0,NaN,417.0,NaN,NaN,NaN,0.800000,4
4,AAPL,2018-01-08,2018-02-09,32,43.750,4.775,5.425,10.200,0.239872,-0.016354,...,624.0,1275.0,1170.0,NaN,105.0,NaN,NaN,NaN,0.914286,0
5,AAPL,2018-01-09,2018-02-09,31,43.750,4.650,5.275,9.925,0.236897,-0.020468,...,1110.0,1670.0,1514.0,87.0,156.0,52.0,16.402299,2.000000,0.885714,1
6,AAPL,2018-01-10,2018-02-09,30,43.750,4.500,5.400,9.900,0.240133,-0.028271,...,871.0,2263.0,2095.0,614.0,168.0,55.0,2.412052,2.054545,0.857143,2
7,AAPL,2018-01-11,2018-02-09,29,43.750,4.775,4.675,9.450,0.232196,0.037014,...,895.0,2899.0,2514.0,803.0,385.0,70.0,2.130760,4.500000,0.828571,3
8,AAPL,2018-01-12,2018-02-16,35,43.750,6.050,4.300,10.350,0.232419,0.146494,...,10042.0,64199.0,52140.0,46530.0,12059.0,9457.0,0.120567,0.275140,1.000000,4
9,AAPL,2018-01-16,2018-02-16,31,43.750,5.900,4.700,10.600,0.255856,0.093241,...,11593.0,65068.0,51974.0,46649.0,13094.0,9842.0,0.114150,0.330421,0.885714,1
10,AAPL,2018-01-17,2018-02-16,30,45.000,5.000,6.075,11.075,0.266059,-0.032635,...,16228.0,86641.0,61217.0,41510.0,25424.0,4985.0,0.474753,4.100100,0.857143,2
11,AAPL,2018-01-18,2018-02-16,29,45.000,4.975,5.975,10.950,0.267612,-0.024400,...,14407.0,87972.0,61495.0,42834.0,26477.0,4981.0,0.435659,4.315599,0.828571,3
12,AAPL,2018-01-19,2018-02-16,28,45.000,4.200,6.150,10.350,0.255910,-0.086112,...,18687.0,87693.0,60867.0,44281.0,26826.0,4994.0,0.374562,4.371646,0.800000,4
13,AAPL,2018-01-19,2018-02-23,35,44.375,5.725,5.175,10.900,0.246549,0.071747,...,646.0,1132.0,949.0,365.0,183.0,56.0,1.600000,2.267857,1.000000,4
14,AAPL,2018-01-22,2018-02-23,32,44.375,4.750,5.675,10.425,0.247583,-0.020514,...,621.0,1570.0,1362.0,425.0,208.0,52.0,2.204706,3.000000,0.914286,0
15,AAPL,2018-01-23,2018-02-23,31,44.375,4.925,5.525,10.450,0.252302,-0.016949,...,756.0,1837.0,1623.0,448.0,214.0,56.0,2.622768,2.821429,0.885714,1
16,AAPL,2018-01-24,2018-02-23,30,43.750,4.900,5.900,10.800,0.268883,-0.034483,...,1245.0,2215.0,1537.0,1307.0,678.0,328.0,0.175976,1.067073,0.857143,2
17,AAPL,2018-01-25,2018-02-23,29,42.500,6.025,4.975,11.000,0.285643,0.079158,...,584.0,2011.0,901.0,786.0,1110.0,623.0,0.146310,0.781701,0.828571,3
18,AAPL,2018-01-26,2018-02-23,28,43.125,4.700,6.100,10.800,0.282279,-0.048722,...,430.0,1504.0,745.0,473.0,759.0,491.0,0.575053,0.545825,0.800000,4
19,AAPL,2018-01-26,2018-03-02,35,43.125,5.100,6.450,11.550,0.270732,-0.041084,...,537.0,1177.0,631.0,241.0,546.0,234.0,1.618257,1.333333,1.000000,4
20,AAPL,2018-01-29,2018-03-02,32,41.875,6.675,6.175,12.850,0.324708,0.041831,...,551.0,3857.0,286.0,171.0,3571.0,2614.0,0.672515,0.366106,0.914286,0
21,AAPL,2018-01-30,2018-03-02,31,41.875,5.875,6.625,12.500,0.321350,-0.010519,...,341.0,4201.0,539.0,182.0,3662.0,2722.0,1.961538,0.345334,0.885714,1
22,AAPL,2018-01-31,2018-03-02,30,41.875,5.875,6.400,12.275,0.320835,0.009881,...,566.0,4357.0,697.0,188.0,3660.0,3435.0,2.707447,0.065502,0.857143,2
23,AAPL,2018-02-01,2018-03-02,29,41.875,5.700,5.625,11.325,0.300789,0.025752,...,685.0,4662.0,982.0,208.0,3680.0,3526.0,3.721154,0.043676,0.828571,3
24,AAPL,2018-02-02,2018-03-02,28,40.000,4.625,4.575,9.200,0.260354,0.026553,...,1411.0,1470.0,668.0,348.0,802.0,476.0,0.919540,0.684874,0.800000,4
25,AAPL,2018-02-02,2018-03-09,35,40.000,5.225,5.100,10.325,0.261149,0.038165,...,567.0,652.0,299.0,0.0,353.0,49.0,inf,6.204082,1.000000,4
26,AAPL,2018-02-06,2018-03-09,31,40.625,5.150,5.375,10.525,0.278869,0.016663,...,532.0,1022.0,569.0,11.0,453.0,206.0,50.727273,1.199029,0.885714,1
27,AAPL,2018-02-07,2018-03-09,30,40.000,4.700,5.275,9.975,0.272672,-0.026507,...,633.0,1646.0,747.0,93.0,899.0,164.0,7.032258,4.481707,0.857143,2
28,AAPL,2018-02-08,2018-03-09,29,38.750,6.050,5.250,11.300,0.324561,0.019211,...,343.0,2316.0,1089.0,12.0,1227.0,225.0,89.750000,4.453333,0.828571,3
29,AAPL,2018-02-09,2018-03-09,28,39.375,4.375,5.875,10.250,0.293710,-0.056586,...,616.0,1303.0,207.0,0.0,1096.0,209.0,inf,4.244019,0.800000,4

In [98]:
# ================== Training ==================

In [99]:
entries.columns

Index(['ticker', 'date', 'exdate', 'DTE', 'strike', 'call_premium',
       'put_premium', 'straddle_premium', 'straddle_iv', 'net_delta',
       'open_interest_call', 'open_interest_put', 'volume_call', 'volume_put',
       'strike_diff', 'impl_volatility_call', 'impl_volatility_put',
       'adj_best_bid_call', 'adj_best_offer_call', 'adj_best_bid_put',
       'adj_best_offer_put', 'date_pos', 'H', 'exit_pos', 'exit_date',
       'straddle_mid', 'entry_value', 'exit_value', 'r_long', 'r_short',
       'iv_realized_vol_ratio', 'iv_rank', 'realized_vol_30',
       'realized_vol_10', 'realized_vol_30_rank', 'mom_5', 'mom_10',
       'vol_change', 'iv_skew', 'log_straddle_premium', 'spread_call',
       'spread_put', 'total_volume', 'total_oi', 'open_interest_call_full',
       'oi_call_lag5_full', 'open_interest_put_full', 'oi_put_lag5_full',
       'oi_change_call', 'oi_change_put', 'DTE_norm', 'day_of_week'],
      dtype='object')

In [100]:
entries.to_csv('Straddle_entries_with_features.csv', index = False)

In [6]:
# ================ Features Construction Complete, Start Here ================

In [7]:
entries = pd.read_csv('Straddle_entries_with_features.csv')

In [13]:
entries

,ticker,date,exdate,DTE,strike,call_premium,put_premium,straddle_premium,straddle_iv,net_delta,...,total_volume,total_oi,DTE_norm,day_of_week,open_interest_call_full,oi_call_lag5_full,open_interest_put_full,oi_put_lag5_full,oi_change_call,oi_change_put
0,AAPL,2018-01-02,2018-02-02,31,43.125,4.875000,4.950000,9.825000,0.245062,0.023940,...,911.0,3017.0,0.885714,1,2647.0,NaN,370.0,NaN,NaN,NaN
1,AAPL,2018-01-03,2018-02-02,30,43.125,4.875000,5.025000,9.900000,0.251193,0.017545,...,1280.0,3049.0,0.857143,2,2654.0,NaN,395.0,NaN,NaN,NaN
2,AAPL,2018-01-04,2018-02-02,29,43.125,5.175000,4.300000,9.475000,0.243263,0.075928,...,611.0,3283.0,0.828571,3,2857.0,NaN,426.0,NaN,NaN,NaN
3,AAPL,2018-01-05,2018-02-02,28,43.750,4.900000,4.600000,9.500000,0.245476,0.039665,...,2421.0,3232.0,0.800000,4,2815.0,NaN,417.0,NaN,NaN,NaN
4,AAPL,2018-01-08,2018-02-09,32,43.750,4.775000,5.425000,10.200000,0.239872,-0.016354,...,624.0,1275.0,0.914286,0,1170.0,NaN,105.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10511,TSLA,2022-12-15,2023-01-13,29,160.000,10.775000,12.525000,23.300000,0.651948,0.021517,...,3764.0,1827.0,0.828571,3,1085.0,9.0,742.0,182.0,119.555556,3.076923
10512,TSLA,2022-12-09,2023-01-13,35,180.000,13.525000,13.625000,27.150000,0.613104,0.067287,...,430.0,451.0,1.000000,4,221.0,0.0,230.0,39.0,inf,4.897436
10513,TSLA,2022-12-20,2023-01-20,31,136.670,4.275000,3.641667,7.916667,0.745021,0.127413,...,1959.0,5125.0,0.885714,1,1960.0,1852.0,3165.0,3083.0,0.058315,0.026597
10514,TSLA,2022-12-16,2023-01-20,35,150.000,4.266667,3.908333,8.175000,0.662416,0.100640,...,23687.0,51855.0,1.000000,4,8275.0,5979.0,43580.0,37528.0,0.384011,0.161266
10515,TSLA,2022-12-19,2023-01-20,32,150.000,4.100000,3.900000,8.000000,0.678836,0.088790,...,15424.0,50285.0,0.914286,0,10623.0,6031.0,39662.0,40522.0,0.761399,-0.021223

In [8]:
# ---------- helpers ----------
def make_walk_forward_splits(df, date_col="date", initial_train_months=6, val_months=1):
    df = df.copy()
    df[date_col] = pd.to_datetime(df[date_col])
    df["ym"] = df[date_col].dt.to_period("M")
    months = sorted(df["ym"].unique())
    for i in range(initial_train_months, len(months) - val_months + 1):
        train_months = months[:i]
        val_months_list = months[i : i + val_months]
        train_idx = df[df["ym"].isin(train_months)].index
        val_idx = df[df["ym"].isin(val_months_list)].index
        yield train_idx, val_idx, train_months, val_months_list

def tune_thresholds(preds, actual_r, grid_size=20):
    high = np.quantile(np.abs(preds), 0.95)
    candidate_deltas = np.linspace(0, high, grid_size)[1:]
    best_long, best_short = 0.0, 0.0
    best_metric = -np.inf
    for dl in candidate_deltas:
        for ds in candidate_deltas:
            long_mask = preds > dl
            short_mask = preds < -ds
            returns = np.zeros_like(preds)
            returns[long_mask] = actual_r[long_mask]
            returns[short_mask] = -actual_r[short_mask]
            total_return = returns.sum()
            if total_return > best_metric:
                best_metric = total_return
                best_long, best_short = dl, ds
    return best_long, best_short

def simulate_strategy(preds, actual_r, delta_long, delta_short):
    long_mask = preds > delta_long
    short_mask = preds < -delta_short
    signals = np.zeros_like(preds, dtype=int)  # 1=long, -1=short, 0=skip
    signals[long_mask] = 1
    signals[short_mask] = -1
    returns = np.zeros_like(preds)
    returns[long_mask] = actual_r[long_mask]
    returns[short_mask] = -actual_r[short_mask]
    num_trades = (long_mask | short_mask).sum()
    win_rate = ((returns > 0) & (signals != 0)).sum() / max(1, num_trades)
    avg_return = returns.sum() / max(1, num_trades) if num_trades > 0 else 0.0
    vol = returns[signals != 0].std(ddof=0) if num_trades > 0 else np.nan
    sharpe = avg_return / vol if vol and vol > 0 else np.nan
    total_return = returns.sum()
    return {
        "delta_long": delta_long,
        "delta_short": delta_short,
        "num_trades": int(num_trades),
        "win_rate": win_rate,
        "avg_return_per_trade": avg_return,
        "sharpe_per_trade": sharpe,
        "total_return": total_return,
        "returns_vector": returns,
        "signals": signals,
    }

In [9]:
# ---------- prepare model_df ----------
df = entries.copy()
df['date'] = pd.to_datetime(df['date'])
df['ticker'] = df['ticker'].astype(str).str.upper()
df = df.dropna(subset=['r_long'])

feature_columns = [
    'straddle_iv', 'iv_realized_vol_ratio', 'iv_rank',
    'realized_vol_30', 'realized_vol_30_rank',
    'vol_change', 'mom_5', 'mom_10',
    'iv_skew', 'log_straddle_premium',
    'spread_call', 'spread_put',
    'total_volume', 'total_oi',
    'oi_change_call', 'oi_change_put',
    'DTE_norm', 'day_of_week', 'net_delta'
]
feature_columns = [c for c in feature_columns if c in df.columns]

model_df = df[feature_columns + ['r_long', 'date']].copy()
model_df = model_df.dropna(subset=feature_columns + ['r_long']).reset_index(drop=True)

In [10]:
model_df

,straddle_iv,iv_realized_vol_ratio,iv_rank,realized_vol_30,realized_vol_30_rank,vol_change,mom_5,mom_10,iv_skew,log_straddle_premium,...,spread_put,total_volume,total_oi,oi_change_call,oi_change_put,DTE_norm,day_of_week,net_delta,r_long,date
0,0.266059,2.131436,1.000000,0.124826,1.000000,0.013344,0.026994,0.038939,0.005910,2.404690,...,0.024691,16228.0,86641.0,0.474753,4.100100,0.857143,2,-0.032635,0.153047,2018-01-17
1,0.267612,2.218855,1.000000,0.120608,0.500000,0.010091,0.028116,0.040006,0.002043,2.393339,...,0.025105,14407.0,87972.0,0.435659,4.315599,0.828571,3,-0.024400,0.416895,2018-01-18
2,0.255910,2.089476,0.833333,0.122476,0.666667,0.004235,0.017979,0.030898,-0.000096,2.336987,...,0.016260,18687.0,87693.0,0.374562,4.371646,0.800000,4,-0.086112,0.550242,2018-01-19
3,0.285643,1.814257,1.000000,0.157443,1.000000,-0.015534,-0.046531,-0.018415,0.016779,2.397895,...,0.030151,584.0,2011.0,0.146310,0.781701,0.828571,3,0.079158,0.357727,2018-01-25
4,0.282279,1.846500,0.944444,0.152872,0.875000,-0.016837,-0.039723,-0.021744,0.000302,2.379546,...,0.032787,430.0,1504.0,0.575053,0.545825,0.800000,4,-0.048722,0.102315,2018-01-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10137,0.651948,0.985999,0.833333,0.632243,0.766667,0.134728,-0.095327,-0.210955,0.006036,3.148453,...,0.011976,3764.0,1827.0,119.555556,3.076923,0.828571,3,0.021517,1.222747,2022-12-15
10138,0.613104,0.963026,0.533333,0.621269,0.666667,0.037186,-0.084615,-0.021055,0.009543,3.301377,...,0.025688,430.0,451.0,inf,4.897436,1.000000,4,0.067287,0.616390,2022-12-09
10139,0.745021,2.541462,1.000000,0.661206,0.933333,0.104794,-0.155289,-0.266151,0.020833,2.068970,...,0.004577,1959.0,5125.0,0.058315,0.026597,0.885714,1,0.127413,-0.032632,2022-12-20
10140,0.662416,1.957808,0.850000,0.640575,0.866667,0.142496,-0.175498,-0.260113,0.016402,2.101081,...,0.004264,23687.0,51855.0,0.384011,0.161266,1.000000,4,0.100640,0.627931,2022-12-16
10141,0.678836,2.315691,0.866667,0.636644,0.800000,0.180467,-0.113124,-0.196707,0.013301,2.079442,...,0.008547,15424.0,50285.0,0.761399,-0.021223,0.914286,0,0.088790,0.357292,2022-12-19

In [11]:


# ---------- walk-forward training ----------
INITIAL_TRAIN_MONTHS = 6
VALIDATION_HORIZON_MONTHS = 1
THRESHOLD_GRID_SIZE = 15
MIN_TRAIN_ROWS = 500

results = []
for train_idx, val_idx, train_months, val_months in make_walk_forward_splits(
    model_df, date_col='date', initial_train_months=INITIAL_TRAIN_MONTHS, val_months=VALIDATION_HORIZON_MONTHS
):
    if len(train_idx) < MIN_TRAIN_ROWS or len(val_idx) == 0:
        continue

    train_df = model_df.loc[train_idx].copy()
    val_df = model_df.loc[val_idx].copy()

    train_df = train_df.dropna(subset=feature_columns + ['r_long'])
    val_df = val_df.dropna(subset=feature_columns + ['r_long'])
    if train_df.empty or val_df.empty:
        continue

    X_train = train_df[feature_columns].to_numpy()
    X_val = val_df[feature_columns].to_numpy()
    y_train = train_df['r_long'].to_numpy()
    y_val = val_df['r_long'].to_numpy()

    # train-scoring model (HistGradientBoostingRegressor handles unscaled input reasonably)
    model = HistGradientBoostingRegressor(
        random_state=42,
        max_iter=300,
        learning_rate=0.05,
        max_leaf_nodes=31,
        early_stopping=True,
        validation_fraction=0.1,
        n_iter_no_change=30,
    )
    model.fit(X_train, y_train)

    preds_val = model.predict(X_val)

    delta_long, delta_short = tune_thresholds(preds_val, y_val, grid_size=THRESHOLD_GRID_SIZE)
    stats = simulate_strategy(preds_val, y_val, delta_long, delta_short)
    stats.update({
        "train_period": (train_months[0].to_timestamp(), train_months[-1].to_timestamp()),
        "val_period": (val_months[0].to_timestamp(),),
        "model": model,
        "delta_long": delta_long,
        "delta_short": delta_short,
    })

    baseline = simulate_strategy(preds_val, y_val, delta_long=0, delta_short=0)
    stats["baseline_total_return"] = baseline["total_return"]
    stats["baseline_sharpe"] = baseline["sharpe_per_trade"]

    results.append(stats)

/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4782: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5,
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/Applications/anaconda3/envs/env_opt/lib/python3.9/site-packages/numpy/lib/_function_base_impl.py:4779: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

In [12]:
# ---------- summarize ----------
summary_rows = []
for r in results:
    summary_rows.append({
        "train_period": f"{r['train_period'][0].strftime('%Y-%m')} -> {r['train_period'][1].strftime('%Y-%m')}",
        "val_period": f"{r['val_period'][0].strftime('%Y-%m')}",
        "total_return": r["total_return"],
        "avg_return_per_trade": r["avg_return_per_trade"],
        "sharpe": r["sharpe_per_trade"],
        "win_rate": r["win_rate"],
        "num_trades": r["num_trades"],
        "delta_long": r["delta_long"],
        "delta_short": r["delta_short"],
        "baseline_return": r["baseline_total_return"],
        "baseline_sharpe": r["baseline_sharpe"],
    })
summary_df = pd.DataFrame(summary_rows)
print("Fold-level performance:")
print(summary_df)
print("\nAggregate metrics:")
print("Total return (sum over folds):", summary_df["total_return"].sum())
print("Mean Sharpe:", summary_df["sharpe"].mean())

Fold-level performance:
          train_period val_period  total_return  avg_return_per_trade  \
0   2018-01 -> 2018-06    2018-07      7.195704              0.087752
1   2018-01 -> 2018-07    2018-08     16.773590              0.246670
2   2018-01 -> 2018-08    2018-09      2.842366              0.047373
3   2018-01 -> 2018-09    2018-10      4.297656              0.075397
4   2018-01 -> 2018-10    2018-11      0.391389              0.030107
5   2018-01 -> 2018-11    2018-12      2.915307              0.224254
6   2018-01 -> 2018-12    2019-01      0.821277              0.023465
7   2018-01 -> 2019-01    2019-02      2.071105              0.059174
8   2018-01 -> 2019-02    2019-03      6.672115              0.083401
9   2018-01 -> 2019-03    2019-04      3.270837              0.033039
10  2018-01 -> 2019-04    2019-05     12.832457              0.116659
11  2018-01 -> 2019-05    2019-06      1.996907              0.048705
12  2018-01 -> 2019-06    2019-07      1.823046              0.017873
13  2018-01 -> 2019-07    2019-08      3.938607              0.059676
14  2018-01 -> 2019-08    2019-09      3.986014              0.067560
15  2018-01 -> 2019-09    2019-10      2.794845              0.021499
16  2018-01 -> 2019-10    2019-11      1.688800              0.073426
17  2018-01 -> 2019-11    2019-12      9.600023              0.106667
18  2018-01 -> 2019-12    2020-01      4.524256              0.066533
19  2018-01 -> 2020-01    2020-02     22.576000              0.347323
20  2018-01 -> 2020-02    2020-03     11.368364              0.147641
21  2018-01 -> 2020-03    2020-04      4.165774              0.074389
22  2018-01 -> 2020-04    2020-05      3.210767              0.054420
23  2018-01 -> 2020-05    2020-06      7.857201              0.068923
24  2018-01 -> 2020-06    2020-07      0.590767              0.011584
25  2018-01 -> 2020-07    2020-08      2.423340              0.063772
26  2018-01 -> 2020-08    2020-09      8.144272              0.133513
27  2018-01 -> 2020-09    2020-10      6.497560              0.081220
28  2018-01 -> 2020-10    2020-11     -3.272571             -0.327257
29  2018-01 -> 2020-11    2020-12      8.790919              0.162795
30  2018-01 -> 2020-12    2021-01      4.317134              0.130822
31  2018-01 -> 2021-01    2021-02      5.100406              0.065390
32  2018-01 -> 2021-02    2021-03     10.798769              0.130106
33  2018-01 -> 2021-03    2021-04      8.884140              0.095528
34  2018-01 -> 2021-04    2021-05     11.172943              0.099758
35  2018-01 -> 2021-05    2021-06      5.194258              0.061109
36  2018-01 -> 2021-06    2021-07     12.567895              0.141212
37  2018-01 -> 2021-07    2021-08      6.024090              0.061470
38  2018-01 -> 2021-08    2021-09     -0.650126             -0.050010
39  2018-01 -> 2021-09    2021-10     27.322190              0.265264
40  2018-01 -> 2021-10    2021-11     10.128312              0.058209
41  2018-01 -> 2021-11    2021-12      9.704824              0.066019
42  2018-01 -> 2021-12    2022-01     11.049572              0.155628
43  2018-01 -> 2022-01    2022-02     10.801155              0.117404
44  2018-01 -> 2022-02    2022-03    206.528214              2.373888
45  2018-01 -> 2022-03    2022-04     27.024234              1.000898
46  2018-01 -> 2022-04    2022-05     88.677954              1.738783
47  2018-01 -> 2022-05    2022-06      8.745213              0.041057
48  2018-01 -> 2022-06    2022-07      8.478947              0.102156
49  2018-01 -> 2022-07    2022-08    197.991533              2.106293
50  2018-01 -> 2022-08    2022-09     11.235008              0.070660
51  2018-01 -> 2022-09    2022-10      5.022944              0.032830
52  2018-01 -> 2022-10    2022-11      2.107786              0.027023
53  2018-01 -> 2022-11    2022-12    116.054378              2.321088

      sharpe  win_rate  num_trades  delta_long  delta_short  baseline_return  \
0   0.229665  0.390244          82    0.053189     0.070918         4.779284
1   0.457416  0.617647          68    0.103614     0.284940         4.700029
2   0.242974  0.666667          60    0.238741     0.017053        -0.433779
3   0.213537  0.561404          57    0.015885     0.222393        -6.045649
4   0.217068  0.538462          13    0.739230     0.158406        -1.214411
5   0.510295  0.769231          13    0.123754     0.061877        -0.711853
6   0.120796  0.600000          35    0.212483     0.015177        -2.229149
7   0.204742  0.514286          35    0.244709     0.022246        -6.445026
8   0.308041  0.550000          80    0.027728     0.083185         4.700240
9   0.129961  0.383838          99    0.021050     0.042100         5.304107
10  0.291601  0.463636         110    0.020398     0.142784        10.519989
11  0.304007  0.682927          41    0.282632     0.020188        -5.972233
12  0.071760  0.401961         102    0.018746     0.187456         1.061530
13  0.326654  0.696970          66    0.217417     0.016724        -0.199248
14  0.335804  0.627119          59    0.166718     0.023817         1.453337
15  0.093585  0.538462         130    0.016512     0.016512         3.928645
16  0.456811  0.652174          23    0.277198     0.019800        -1.579104
17  0.405294  0.655556          90    0.007845     0.070604         4.636869
18  0.224979  0.529412          68    0.021785     0.261425         0.763242
19  0.670901  0.692308          65    0.020643     0.206427        -0.887436
20  0.366946  0.532468          77    0.022713     0.136276         7.861598
21  0.408571  0.660714          56    0.253331     0.018095        -0.550212
22  0.238906  0.694915          59    0.202379     0.028911         0.743904
23  0.226160  0.561404         114    0.020555     0.020555         7.465008
24  0.025717  0.294118          51    0.018600     0.260400        -2.897094
25  0.175139  0.473684          38    0.095568     0.109220        -1.726251
26  0.795403  0.852459          61    0.241835     0.018603        -2.900048
27  0.405696  0.750000          80    0.150732     0.015073         3.555025
28 -0.417371  0.600000          10    0.278748     0.219016       -15.314382
29  0.375003  0.740741          54    0.362461     0.025890        -0.270060
30  0.359494  0.545455          33    0.018120     0.235556         1.277440
31  0.341909  0.653846          78    0.271514     0.019394         1.268332
32  0.717414  0.807229          83    0.173106     0.014425         4.008812
33  0.483476  0.688172          93    0.073453     0.014691         6.218645
34  0.292929  0.651786         112    0.125921     0.017989         8.481494
35  0.205822  0.435294          85    0.020415     0.244980         5.869220
36  0.619541  0.831461          89    0.138454     0.009890         5.798195
37  0.271288  0.622449          98    0.201406     0.015493         6.814130
38 -0.233756  0.230769          13    0.195987     0.083994        -0.918355
39  0.450617  0.563107         103    0.026930     0.161578        23.559078
40  0.235019  0.545977         174    0.021317     0.042633         8.568442
41  0.253625  0.605442         147    0.053235     0.053235        11.869422
42  0.404306  0.605634          71    0.014627     0.175528        -1.745829
43  0.140793  0.336957          92    0.045232     0.180928      -115.540279
44  0.846263  0.666667          87    0.148441     0.148441       177.626186
45  0.536430  0.555556          27    0.128879     0.257757        20.960951
46  0.817087  0.549020          51    0.927228     0.185446        91.898213
47  0.158049  0.563380         213    0.027595     0.027595        10.449121
48  0.393754  0.674699          83    0.032369     0.129476         8.455047
49  0.769591  0.648936          94    0.264320     0.264320       209.029309
50  0.292478  0.635220         159    0.052402     0.017467        12.512605
51  0.144307  0.627451         153    0.114163     0.019027         1.133673
52  0.106615  0.628205          78    0.217456     0.015533        -4.173725
53  0.836039  0.500000          50    0.364160     0.364160       114.189602

    baseline_sharpe
0          0.102009
1          0.057661
2         -0.011979
3         -0.120776
4         -0.031905
5         -0.020238
6         -0.097650
7         -0.180919
8          0.138762
9          0.155344
10         0.178623
11        -0.204140
12         0.028381
13        -0.006276
14         0.057260
15         0.099255
16        -0.063854
17         0.107873
18         0.015400
19        -0.010082
20         0.181042
21        -0.027540
22         0.020576
23         0.195917
24        -0.059508
25        -0.035040
26        -0.089752
27         0.155654
28        -0.217876
29        -0.004875
30         0.032946
31         0.042642
32         0.102909
33         0.215263
34         0.142750
35         0.114583
36         0.135062
37         0.102815
38        -0.017300
39         0.208446
40         0.155395
41         0.211340
42        -0.023526
43        -0.242683
44         0.252969
45         0.125679
46         0.298913
47         0.154488
48         0.164293
49         0.357468
50         0.243487
51         0.020581
52        -0.063550
53         0.345336

Aggregate metrics:
Total return (sum over folds): 967.0704651762594
Mean Sharpe: 0.3307250100573973

In [47]:
# ================ Test on 23 ================

In [49]:
stock_data_1_10 = pd.read_csv("stock_data_2018_2023_top10_roots.csv")
stock_data_11_20 = pd.read_csv("stock_data_2018_2023_top_11_20.csv")
stock_prc = pd.read_csv('openprice_and_adjprc_cleaned.csv')
# Convert column names of stock_data_11_20 to lowercase
stock_data_11_20.columns = stock_data_11_20.columns.str.lower()

# Find common columns between the two dataframes
common_columns = stock_data_1_10.columns.intersection(stock_data_11_20.columns)

# Concatenate on common columns
stock_data_23 = pd.concat(
    [stock_data_1_10[common_columns], stock_data_11_20[common_columns]],
    ignore_index=True
)

stock_data_23 = pd.merge(stock_data_23, stock_prc, on = ['ticker', 'date'], how = 'left')
stock_data_23['adj_prc'] = stock_data_23['close_price']

stock_data_23['date'] = pd.to_datetime(stock_data_23['date'])
stock_data_23.to_csv('stock_1824_top20.csv', index = False)

In [50]:
stock_data_23

       permno       date  cfacpr ticker  open_price  close_price     adj_prc
0       14593 2018-01-02     4.0   AAPL   42.540001    43.064999   43.064999
1       14593 2018-01-03     4.0   AAPL   43.132500    43.057499   43.057499
2       14593 2018-01-04     4.0   AAPL   43.134998    43.257500   43.257500
3       14593 2018-01-05     4.0   AAPL   43.360001    43.750000   43.750000
4       14593 2018-01-08     4.0   AAPL   43.587502    43.587502   43.587502
...       ...        ...     ...    ...         ...          ...         ...
29300   93002 2024-12-24     1.0   AVGO  240.119995   239.679993  239.679993
29301   93002 2024-12-26     1.0   AVGO  240.000000   245.360001  245.360001
29302   93002 2024-12-27     1.0   AVGO  245.639999   241.750000  241.750000
29303   93002 2024-12-30     1.0   AVGO  234.699997   235.580002  235.580002
29304   93002 2024-12-31     1.0   AVGO         NaN          NaN         NaN

[29305 rows x 7 columns]